{% extends 'blog/base.html' %}
<!-- Voglio caricare la libreria esterna crispy_forms_tags nel mio file html -->
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form action="" method="post">
            {% csrf_token %}  <!-- Token di protezione da Cross Site Request Forgery per prevenire attacchi maligni -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log Out</legend>
                <h4>You just logged out</h4>
            </fieldset>
            <div class="form-group">
                <a href="{% url 'login' %}" class="btn btn-outline-info" type="submit">Log In</a>
            </div>
        </form>
    </div>
{% endblock content %}
