{% extends 'blog/base.html' %}
<!-- I want to load the external library crispy_forms_tags in my html -->


{% block content %}
    <div class="content-section">
        <form action="" method="post">
            {% csrf_token %}  # Cross Site Request Forgery Token to prevent malicious attacks
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Hello</legend>
                <h4>You just logged out</h4>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit"><a href="{% url 'login' %}">Login Again</a></button>
            </div>
        </form>
    </div>
{% endblock content %}
